* {
    background-color: #faf5ed;
}

header {
    background-color: lightblue;
    border: 1px solid lightblue;
    text-align: center;
    padding: 1rem;
    margin: 0;
}

header h1, h2, h3 {
    background-color: lightblue;
}

main {
    padding: 0 2%;
}