/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
   background-color: #f2faf2;
}

/* padding and margin set to 0 to allow the background color of the heading to reach all the way across */
body {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p, a {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*-----------------------HEADER----------------------------*/
header {
    background: #C2EFEB;
    color: black;
    text-align: center;
    padding: 1rem;
    margin: 0;
}

/*----------- NAVIGATION --------------*/
nav button {
    margin: 0 80%;
    padding: 0;
    display: block;
    background-color: transparent;
    border: none;
    font-family: 'Fira sans', sans-serif;
    font-size: 1.5rem; 
    color: #331E36;
    width: 6rem;
}

nav {
    background-color: #6EA4BF;
    padding: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
}

nav ul li a {
    display: block;
    color: #331E36;
    padding: .8rem 0;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    border: none;
}


nav ul li a:hover {
    background-color: #FFE66D;
    color: #333;
}

/* note: a:active must come AFTER a:hover to be effective */
nav ul li a:active {
    color: #449CC8;
}

nav ul li.active a {
    background-color: #e6d78e;
    color: #333;
}

nav ul li.active a:hover {
    background-color: #FFE66D;
    color: #333;
}

/* note: a:active must come AFTER a:hover to be effective */
nav ul li.active a:active {
    color: #449CC8;
}


nav ul.hide {display: none;}


/*----------- MAIN --------------*/
main {
    padding: 0 2%;
}

main a {
    text-decoration: none;
    color: #331E36;
}

main a:visited {
    color: #554a81;
}

/* note: a:hover must come AFTER a:visited to be effective */
main a:hover {
    color: #41337A;
    background: #ecfee8;
}

/* note: a:active must come AFTER a:hover to be effective */
main a:active {
    color: #449CC8;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }