.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

input {
    font-size: 1rem;
}

.user-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* makes is so the cards fill the width of the screen and auto-size to columns on small screens */
    gap: .25rem;
    margin-top: 1rem;
}

.card {
    border: 1px solid black;
    background-color: white;
    padding: .5rem
}

.card > .header {
    text-transform: capitalize; /* capitlizes the first letter of each word even if word occurs after hyphen (Chrome only. Firefox doesn't capitlize after hyphen) */
    margin-bottom: .25rem;
}

.card > .body {
    text-transform: capitalize; /* capitlizes the first letter of each word even if word occurs after hyphen (Chrome only. Firefox doesn't capitlize after hyphen) */
    font-size: .8rem;
    color: #777
}

.hide {
    display: none;
}